---
export async function getStaticPaths() {
  const listReq = await fetch('https://pokeapi.co/api/v2/pokemon?limit=151')
  const list = (await listReq.json()).results 
  return list.map(entry => {
    return { params: {pkmn: entry.name} }
  })
}

import PkmnData from '../components/PkmnData.astro'
import PkmnList from '../components/PkmnList.astro'
import BaseLayout from '../layouts/BaseLayout.astro'
import { fetchJson } from '../utils.ts'

const { pkmn } = Astro.params;
const data = await fetchJson('https://pokeapi.co/api/v2/pokemon/' + pkmn)
---
<BaseLayout>
  <div class="container text-center">
    <div class="row">
      <PkmnList />
      <PkmnData data={data}/>
    </div>
  </div>
<BaseLayout />