---
import BaseLayout from '../layouts/BaseLayout.astro'
import PkmnList from '../components/PkmnList.astro'
---
<BaseLayout>
  <div class="container text-center">
    <PkmnList />
  </div>
</BaseLayout>
