---
import { iconBaseUrl, capitalize } from '../utils.ts'
const { id, pkmn } = Astro.props
---
<div class="pkmnEntry" id={pkmn.name}>
  <a href={`/${pkmn.name}`}>
    <button class="btn btn-light btn-outline-dark">
      {id+1} { capitalize(pkmn.name) }
      <img src={ iconBaseUrl + String(id + 1) + '.png' } />
    </button>
  </a>
</div>